/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC

"python -m SimpleHTTPServer"
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -webkit-font-smoothing: antialiased;
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

header {
     display: block;
     padding: 0 20px;
     height: 50px;
     background: #FFF;
     width: 100%;
     background-color: rgba(255,255,255,0.8);
}

header:after {
     content: "";
     display: table;
     clear: both;
}

header h1 {
     color: #5C5C5C;
     text-align: left;
     font-size: 20px;
     letter-spacing: 0.1em;
     line-height: 50px;
     margin:0 auto;
     font-family: "brandon-grotesque", sans-serif;
     font-style: normal;
     font-weight: 400;
     text-transform: uppercase;
     float: left;
}

nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
}

nav ul:after {
     content: "";
     display: table;
     clear: both;
}

nav ul li {
     float: right;
     line-height: 50px;
     padding-right: 50px;
}

nav ul li a {
     text-decoration: none;
     color: #5C5C5C;
     font-size: 15px;
     transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
     color: red;
}

#container {
     margin: 0 auto;
     width:100%;
}

.box1, .box2 {
     padding: 50px 15%;
}

.box1 {
     display: inline-block;
     width: 100%;
     float: left;
     background-color: #FFF8F4;
     font-size: 20px;
}

.box1 p {
     display: block;
     width: 70%;
     margin: 0 auto;
}

.box1:hover {
     background-color: #FFD700;
     transition: background-color 0.5s ease-in-out;
}

.box1 p:hover {
     color: #fff;
}

.box1 a:hover {
     color: red;
}

.box1 a {
     text-decoration: none;
     color: #CD5C5C;
}

.box2 {
     clear: left;
     background-color: #FF7731;
     font-family: "omnes-pro", sans-serif;
     font-weight: 400;
     font-style: normal;
}

.box2:after {
     display: table;
     content: "";
     clear: both;
}

.box2 h3 {
     color: #FFD700;
     font-family: "brandon-grotesque", sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 24px;
}

.box2 ul {
     display: block;
     margin: 0;
     padding: 0;
     float: left;
     width: 50%;
     list-style: none;
}

.box2 ul:last-child {
     padding-left: none;
}

.box2 ul li {
     color: #fff;
     font-size: 18px;
     padding-bottom: 10px;
     text-align: center;
}

.box2 ul li * {
     text-align: center;
     margin-top: 0;
}

.box-highlight {
     color: #000;
}


.box-container {
     display: none;
     background-color: #FFFAFA;
     width: 100%;
}

.box-container:after {
     content: "";
     display: table;
     clear: both;
}

.box-container.is-active {
     display: block;
}

.box1 p {
     font-family: "brandon-grotesque", sans-serif;
     font-weight: 400;
     font-style: normal;
     line-height: 1.8em;
     color: #000;
}

/****** PROJECT IMAGES ******/

.project_images {
     padding-top: 60px;
     padding-left: 100px;
     padding-bottom: 60px;
     width: 100%;
}

.project_images img {
     float:left;
}

.project_images:after {
     content: "";
     display: table;
     clear: both;
}

/***************************/

/******** ITEMS INFO *******/
.item__info {
     display: none;
/*     padding: 50px 0;*/
}

.item__info p {
     width: 50%;
     margin: 0 auto 20px;
     font-family: "omnes-pro", sans-serif;
     font-weight: 500;
     font-style: normal;
     line-height: 1.8em;
     font-size: 18x;
     color: #4D4D4D;
}

.item__info p:last-child {
     padding-bottom: 60px;
}

/****************************/

.item, .item_2, .item_3, .item_4{
     height:400px;
     opacity: 1;
}

.item__info p:last-child {
     margin-bottom: 0;
}

.item h1,
.item_2 h1,
.item_3 h1,
.item_4 h1{
     padding-top: 100px;
     padding-left: 150px;
     padding-right: 250px;
     transition: color 0.1s ease-in-out;
}

.item a,
.item_2 a,
.item_3 a,
.item_4 a{
     text-decoration: none;
     color: #FF6939;
     font-size: 1.2em;
     font-family: "brandon-grotesque", sans-serif;
     font-weight: 700;
     font-style: normal;
     padding-top: 100px;
     padding-left: 150px;
     padding-right: 250px;
     text-decoration: overline;
     transition: color 0.1s ease-in-out;
}

.item:hover .item-content,
.item:focus .item-content,
.item_2:hover .item-content,
.item_2:focus .item-content,
.item_3:hover .item-content,
.item_3:focus .item-content,
.item_4:hover .item-content,
.item_4:focus .item-content
 {
     opacity: 1;
}

.item-content {
  pointer-events: none;
  opacity: 0;
  color:#fff;
  transition: opacity 0.25s linear;
}

#container .item{
     background:url(../img/brasilia.jpg) no-repeat;
     background-size: cover;
}

#container .item_2{
     background:url(../img/interventions.jpg) no-repeat;
     background-size: cover;
}

#container .item_3{
     background:url(../img/investigating.png) no-repeat;
     background-size: cover;
}

#container .item_4{
     background:url(../img/secret_brand.jpg) no-repeat;
     background-size: cover;
}

@media (max-width: 700px) {
.item h1,
.item_2 h1,
.item_3 h1,
.item_4 h1 {
     width: 100%;
     padding-top:40px;
     padding-right: 40px;
     font-size: 30px;
     }
}


@media (max-width: 520px) {
.item h1,
.item_2 h1,
.item_3 h1,
.item_4 h1 {
     width: 100%;
     padding-top:50px;
     padding-right: 20px;
     padding-left: 20px;
     }

     .box1 {
     display: inline-block;
     width: 100%;
     float: left;
     background-color: #FFF8F4;
     font-size: 18px;
}

.box1 p {
     width: 90%;
}

.box2 h3 {
     font-size: 20px;
}

.box2 ul {
     width: 50%;
}

.box2 ul:last-child {
     padding-left: none;
}

.box2 ul li {
     color: #fff;
     font-size: 14px;
     padding-bottom: 10px;
     text-align: center;
}

.box2 ul li:last-child {
     padding-left: 20px;
}

.item__info p {
     font-size: 14px;
     width: 80%;
}

.project_images {
     float:left;
}

}

/*
#container .item_2:hover {
     opacity:1;
}

#container .item_3:hover {
     opacity:1;
}

#container .item_4:hover {
     opacity:1;
}
*/
/*#container .item_1, .item_2, .item_3, .item_4 {
     display: block;
     float:left;
     width: 400px;
     height: 400px;
}

/*#container .item.w2 {
     width: 500px;
}*/

/*.about_me{
     text align: left;
     line-height: 1.4em;
     margin:0 auto;
     background-color: #FABF3E;
     padding: 25px 0px 25px 0px;
     clear:both;
     font-family: "Lato", sans-serif;
}

.about_me p {
     font-size: 1em;
     color: #fff;
     width:450px;
     margin:0 auto;
     font-size: 1em;
}
.about_me a {
     text-decoration: none;
     color: red;
}*/
/*
.container_1,
.container_2,
.container_3,
.container_4 {
     width:100%;
     height:780px;
}
.container_1 {
     background:url(../img/brasilia.jpg) no-repeat;
     background-size: cover;
}

.container_2 {
     background:url(../img/secret_brand.jpg) no-repeat;
     background-size: cover;
}

.container_3 {
     background:url(../img/investigating.png) no-repeat;
     background-size: cover;
}

.container_4 {
     background:url(../img/interventions.jpg) no-repeat;
     background-size: cover;
}

.project_1, .project_2, .project_3, .project_4 {
     width: 350px;
     height: 780px;
     line-height: 1.6em;
     float:left;
     padding:50px 20px 5px 20px;
     clear:both;
     color: #fff;
     font-size: 1em;
     font-family: "omnes-pro",sans-serif;
     letter-spacing: 0.017em;
     font-weight: medium;
}

.project_1 h3, .project_2 h3 ,.project_3 h3,.project_4 h3 {
     padding-top: 40px;
     text-transform: uppercase;
     font-weight: 700;
     letter-spacing: 0.3em;
     font-size: 1.2em;
     font-family: "adelle", serif;
     line-height: 1.6em;
}

.project_1 {
    background-color: rgba(255,0,0,.5);
}

.project_2 {
     background-color: rgba(201, 0, 113, 0.5);
}

.project_3 {
     background-color: rgba(41,131, 253, 0.3);
}

.project_4 {
     background-color: rgba(255, 173, 95, 0.3);
}

.sticky {
position: fixed;
width: 100%;
left: 0;
top: 0;
z-index: 100;
border-top: 0;
}

.hidden {
     background-color: #FABF3E;
     height:40px;
     width: 100%;
}
*/




